{% extends 'base.html.twig' %}

{% block title %}{% trans %}Answer index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Answer index{% endtrans %}</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Correct</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.Text }}</td>
                <td>{{ answer.Correct }}</td>
                <td>
                    <a class="btn btn-outline-success fa fa-eye" href="{{ path('answer_show', {'id': answer.id}) }}"></a>
                    <a class="btn btn-outline-success fa fa-pencil" href="{{ path('answer_edit', {'id': answer.id}) }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('answer_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
