{% extends 'base.html.twig' %}

{% block title %}{% trans %}Question index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Question index{% endtrans %}</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Text{% endtrans %}</th>
                <th>{% trans %}Category{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td>
                    {% for categorie in question.categories %}
                    {{ categorie.shortname}}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-outline-success fa fa-eye" href="{{ path('question_show', {'id': question.id}) }}"></a>
                    <a class="btn btn-outline-success fa fa-pencil" href="{{ path('question_edit', {'id': question.id}) }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('question_new', {'nb': 2}) }}">{% trans %} 2 answers{% endtrans %}</a>
    <a class="btn btn-outline-success" href="{{ path('question_new', {'nb': 3}) }}">{% trans %} 3 answers{% endtrans %}</a>
    <a class="btn btn-outline-success" href="{{ path('question_new', {'nb': 4}) }}">{% trans %} 4 answers{% endtrans %}</a>
{% endblock %}
