{% extends 'base.html.twig' %}

{% block title %}{% trans %}Question{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Question{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Text{% endtrans %}</th>
                <td>{{ question.text }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created Date{% endtrans %}</th>
                <td>{{ question.createdAt ? question.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated Date{% endtrans %}</th>
                <td>{{ question.updatedAt ? question.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('question_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a class="btn btn-outline-success" href="{{ path('question_edit', {'id': question.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
