{% extends 'base.html.twig' %}

{% block title %}{% trans %}Category{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Category{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Shortname</th>          
                <td>{{ category.shortname }}</td>
            </tr>
            <tr>
                <th>Longname</th>
                <td>{{ category.longname }}</td>
            </tr>
            <tr>
                <th>Questionnaires</th>
                <td>
                    {% for category in quizz.categories %}
                    {{ category.text }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('category_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a class="btn btn-outline-success" href="{{ path('category_edit', {'id': category.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
